/* SummerCard.css */
.summer-card {
    background-color: #ffd600;
    color: #E91E63;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 1200px;
    border-radius: 90px;

}

.title-summer {
    white-space: nowrap;
    font-weight: bold;
}

.lyrics-summer {
    font-style: italic;
    color:#7b5b3a;

}

.dates {
    margin-top: 1rem;
    font-size: 0.9rem;
}


.participar-btn-summer {
    background-color: #f9a722;
    border: 2px solid #ffffff;
    color: #ff4e4e;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 0.3rem;    
    bottom: 1rem;
    right: 1rem;
}



.back-summer{
    width:  1200px;
    height: 95%;
    top:50px;
    left:120px;
    background-color: #fabf7a;
    border-radius: 90px;
}