.winter-card {
    background-color: #a1c9ff;
    color: #4200ff;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    border-radius: 90px;


}

.title-winter {
    font-weight: bold;
    white-space: nowrap;
}

.lyrics {
    font-style: italic;
    color: #7b5b3a;

}



.participar-btn-inverno {
    background-color: #87c4db;
    border: 2px solid white;
    color: #4200ff;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    bottom: 1rem;
    right: 1rem;
}

.back-winter {
    width: 1200px;
    height: 95%;
    top: 50px;
    left: 120px;
    background-color: #87c4db;
    border-radius: 90px;

}