.pets-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espaçamento entre os cards */
    transition: all 0.5s ease-in-out; /* Suaviza o movimento dos cards */
}

.card-pet {
    transition: transform 0.3s ease-in-out;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
   
}

.card-pet:hover {
    transform: scale(1.1); /* Faz o card crescer ao passar o mouse */
}

.img-ajustada {
    width: 100%;         /* Ajusta a largura ao tamanho do card */
    height: 200px;       /* Define uma altura fixa */
    object-fit:contain;   /* Faz com que a imagem "corte" para preencher o espaço */
    border-radius: 5px;  /* Opcional: arredonda as bordas */
  }

  .card-title {
    font-size: 1.2rem; /* Ajuste conforme necessário */
    font-weight: bold;
    margin-bottom: 0px; /* Reduza a margem inferior */
    text-align: center;
}