.jaroFont {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.press2Start {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
  }

  /* style={{whiteSpace:"nowrap", overflow:"hidden", textOverflow:"ellipsis"}} */
.TextoSemQuebra {
    white-space: nowrap;
    overflow:visible;
    /* text-overflow: "elipsis"; */
    
}
  

